/* SIDEBAR */

.side-bar {
    padding: 1.5rem 1.25rem; /*24px 20px*/

    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.side-bar .logo {
    width: 2rem;
    height: 2rem;
}

.side-bar .new-tweet {
    background:var(--twitter-blue );
    color: white;
    border-radius: 999px;
    padding: 1rem;

    display: flex;
    justify-content: center;
    width: 100%;
    
    font-size: 1.25rem;
    font-weight: 900;
    border: 0;
}

.side-bar .new-tweet:hover {
    filter: brightness(0.9);
}

.main-navigation {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-navigation a {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
}

.main-navigation a svg {
    width: 2rem;
    height: 2rem;
}

.main-navigation a.active{
    color: var(--twitter-blue);
}